/****************** Color **************/
body{
	background: #F3F0E8;
}
hgroup{
	background:#fff;
}
.header, .contact {
	background:#262626;
}
.section-about-me{
	background:#d9462c;
}
.contact-form label, .contact-address{
	color:#D3D1C8;
}
.contact-form li{
	margin-bottom:20px;
}
.section-heading{
	background:#D3D1C8;
}
.footer{
	background:#e44326;
}
.main-nav li a{
	color:#FF2B06;
}
.contact h2{
	color:#f5e997;
}
.skill-wrapper article{
	background:#E5E2D1;
}
.about-me, .find-me{
	background:#e5e2d1;
}
.find-me a{
	color:#FF2B06;
}
.contact-form input[type=submit]{
	background:#FF2B06;
	padding:5px 10px;
	min-width:70px;
	margin-left:125px;
	border:3px solid #666;
	border-radius: 5px;
}

/**************** Skills Style ************/
.section-skills article {
  border: 1px solid #DDDDDD;
  height:280px;
  overflow:auto;
}
.section-skills li{
	margin-bottom:10px;
	cursor: pointer;
	position: relative;
}
.section-skills li:hover:after{
	content: attr(data-title);
	padding:6px 10px;
	display: block;
	position: absolute;
	background-color: #fff;
	z-index:1;
	top:-60px;
	left: 36px;
	width: 80%;
	height: 48px;	
	border-radius:5px;
	-webkit-transition: all 0.5s ease-in-out;

}
.section-skills li:hover:before {
	height:0;
	width:0;
	border-top: 12px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	display: block;
	position: absolute;
	top:0px;
	left: 60px;
}
.section-skills .name[itemprop='name']{
	background:#ccc;
	display:block;
	padding:0 3px;
	border-radius:3px;
}
.section-skills summary{
	-webkit-transition: all 0.5s ease-in-out;
}



/************** Layout(CSS3) *****************/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:999;
}
nav.content-wrapper, footer.content-wrapper{
	padding:1%;
}
.skill-wrapper{
	-webkit-column-count:3;
	-webkit-column-gap:2em;
	-moz-column-count:3;
	-moz-column-gap:2em;
}
.about-me, .contact-form {
	width: 65%;
	margin-right:10%;
	display: inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.find-me, .contact-address { 
	width: 23%; 
	display: inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align: top;
}
.content-wrapper{
	width:1080px;
	margin:0px auto;
	padding: 80px 0;
}

/*************** Media Queries(CSS3) **************/
@media screen and (max-width: 1079px) {	
	.content-wrapper{
		width:90%;
		margin:0 auto;
	}
	.about-me, .find-me{
		width:95%;
		margin-right:0;
		margin-bottom:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.find-me{
		text-align:center;
		background:none;
		min-height:85px;
	}
	.find-me a{
		color:#E5E2D1;
	}
}
@media screen and (max-width: 900px) {
	.about-me, .find-me, .contact-form, .contact-address, .skills article{
		width:95%;
		margin-right:0;
		margin-bottom:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.content-wrapper{
		width:90%;
		margin:0 auto;
	}
	.skill-wrapper{
		-webkit-column-count:1;
		-moz-column-count:1;
	}
	.section-skills article{
		height:320px;
		width:90%; 
		margin-bottom:30px;
	}
	nav.content-wrapper{
		width:70%;
	}
	.main{
		margin-top:100px;
	}
	*{
		text-align:center;
	}
}